[Unit]
Description=Cryptography Monitor Service
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/media/share
Environment="DB_URL=mongodb://cryptomonUser:<password>@<uri>:27017/cryptomon?retryWrites=true&w=majority"
Environment="DB_NAME=cryptomon"
ExecStart=/usr/bin/python3 /media/share/cryptomon.py

[Install]
WantedBy=multi-user.target
